In [8]:
import pandas as pd
import os 
import numpy as np
from PIL import Image
from sklearn import preprocessing

In [9]:
# import libraries
import pandas
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
#Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score
import numpy as np
from sklearn import datasets
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.colors import ListedColormap, BoundaryNorm
import matplotlib.patches as patches
from scipy.special import expit
import itertools

In [12]:
dataFrame = pd.read_csv('Datasets\\celeba\\labels.csv')
dataFrame

     \timg_name\tgender\tsmiling
0                0\t0.jpg\t-1\t1
1                1\t1.jpg\t-1\t1
2                2\t2.jpg\t1\t-1
3               3\t3.jpg\t-1\t-1
4               4\t4.jpg\t-1\t-1
...                          ...
4995        4995\t4995.jpg\t1\t1
4996        4996\t4996.jpg\t1\t1
4997        4997\t4997.jpg\t1\t1
4998        4998\t4998.jpg\t1\t1
4999        4999\t4999.jpg\t1\t1

[5000 rows x 1 columns]

In [13]:
# importing labels for training 
dataFrame = pd.read_csv('Datasets\\celeba\\labels.csv',header = None, prefix="data")
dataFrame['data1']= dataFrame['data0'].str.split('\t')
#print(dataFrame)

                            data0                          data1
0     \timg_name\tgender\tsmiling  [, img_name, gender, smiling]
1                 0\t0.jpg\t-1\t1              [0, 0.jpg, -1, 1]
2                 1\t1.jpg\t-1\t1              [1, 1.jpg, -1, 1]
3                 2\t2.jpg\t1\t-1              [2, 2.jpg, 1, -1]
4                3\t3.jpg\t-1\t-1             [3, 3.jpg, -1, -1]
...                           ...                            ...
4996         4995\t4995.jpg\t1\t1         [4995, 4995.jpg, 1, 1]
4997         4996\t4996.jpg\t1\t1         [4996, 4996.jpg, 1, 1]
4998         4997\t4997.jpg\t1\t1         [4997, 4997.jpg, 1, 1]
4999         4998\t4998.jpg\t1\t1         [4998, 4998.jpg, 1, 1]
5000         4999\t4999.jpg\t1\t1         [4999, 4999.jpg, 1, 1]

[5001 rows x 2 columns]

In [14]:
#relableing labels columns 
df3 = pd.DataFrame(dataFrame['data1'].to_list(), columns=['image_number','jpg','gender','smiling'])
df3 = df3.drop(0)
df3

     image_number       jpg gender smiling
1               0     0.jpg     -1       1
2               1     1.jpg     -1       1
3               2     2.jpg      1      -1
4               3     3.jpg     -1      -1
5               4     4.jpg     -1      -1
...           ...       ...    ...     ...
4996         4995  4995.jpg      1       1
4997         4996  4996.jpg      1       1
4998         4997  4997.jpg      1       1
4999         4998  4998.jpg      1       1
5000         4999  4999.jpg      1       1

[5000 rows x 4 columns]

In [15]:
# image training set path 
path = 'Datasets\\celeba\\img\\'

for filename in os.listdir(path):
    img = Image.open(path+filename)
    #img.show()

In [16]:
# get x test from images in folder 
def get_images(path):
    all_images_as_array = []
    label = []
    
    for filename in os.listdir(path):
        img = Image.open(path+filename)
        new_img = img.resize((64, 64))
        np_array = np.asarray(new_img)
        all_images_as_array.append(np_array)

    return np.array(all_images_as_array)
x_train = get_images('Datasets\\celeba\\img\\')
x_train = np.reshape(x_train, (x_train.shape[0], -1))
scaler = preprocessing.StandardScaler().fit(x_train)
x_train = scaler.transform(x_train)

In [17]:
# get x test from ianges in folder 
def get_images(path):
    all_images_as_array = []
    label = []
    
    for filename in os.listdir(path):
        img = Image.open(path+filename)
        new_img = img.resize((64, 64))
        np_array = np.asarray(new_img)
        all_images_as_array.append(np_array)

    return np.array(all_images_as_array)
#length = len(x_test)
x_test = get_images('Datasets\\celeba_test\\img\\')
x_test = np.reshape(x_test, (x_test.shape[0], -1))
scaler = preprocessing.StandardScaler().fit(x_test)
x_test = scaler.transform(x_test)

In [34]:
# select the generder labels of images
y_train = df3['gender']
len(y_train)

5000

In [38]:
# importing labels for testing
test_dataFrame = pd.read_csv('Datasets\\celeba_test\\labels.csv',header = None, prefix="data")
test_dataFrame['data1']= test_dataFrame['data0'].str.split('\t')
print(test_dataFrame)

                            data0                          data1
0     \timg_name\tgender\tsmiling  [, img_name, gender, smiling]
1                0\t0.jpg\t-1\t-1             [0, 0.jpg, -1, -1]
2                 1\t1.jpg\t-1\t1              [1, 1.jpg, -1, 1]
3                  2\t2.jpg\t1\t1               [2, 2.jpg, 1, 1]
4                  3\t3.jpg\t1\t1               [3, 3.jpg, 1, 1]
...                           ...                            ...
996            995\t995.jpg\t1\t1           [995, 995.jpg, 1, 1]
997            996\t996.jpg\t1\t1           [996, 996.jpg, 1, 1]
998            997\t997.jpg\t1\t1           [997, 997.jpg, 1, 1]
999            998\t998.jpg\t1\t1           [998, 998.jpg, 1, 1]
1000           999\t999.jpg\t1\t1           [999, 999.jpg, 1, 1]

[1001 rows x 2 columns]

In [42]:
#relableing labels columns for test 
test_df3 = pd.DataFrame(test_dataFrame['data1'].to_list(), columns=['image_number','jpg','gender','smiling'])
len(test_df3)
test_df3 = test_df3.drop(0)
df3.reset_index(drop=True)

     image_number       jpg gender smiling
0               0     0.jpg     -1       1
1               1     1.jpg     -1       1
2               2     2.jpg      1      -1
3               3     3.jpg     -1      -1
4               4     4.jpg     -1      -1
...           ...       ...    ...     ...
4995         4995  4995.jpg      1       1
4996         4996  4996.jpg      1       1
4997         4997  4997.jpg      1       1
4998         4998  4998.jpg      1       1
4999         4999  4999.jpg      1       1

[5000 rows x 4 columns]

In [44]:
test_df3 = pd.DataFrame(test_dataFrame['data1'].to_list(), columns=['image_number','jpg','gender','smiling'])
test_df3 = test_df3.drop(0)
test_df3
y_test = test_df3['gender']

In [47]:
# sklearn functions implementation
def logRegrPredict(x_train,y_train,xtest ):
    # Build Logistic Regression Model
    logreg = LogisticRegression(solver='lbfgs', max_iter=100)
    # Train the model using the training sets
    logreg.fit(x_train, y_train)
    y_pred= logreg.predict(xtest)
    #print('Accuracy on test set: {:.2f}'.format(logreg.score(x_test, y_test)))
    return y_pred

y_pred = logRegrPredict(x_train,y_train,x_test)
#score = logisticRegr.score(x_test, y_test)
#print(score)
# By definition a confusion matrix C is such that C_{i,j} 
# is equal to  group the number of observations
#  known to be in i and predicted to be in group j.
print(confusion_matrix(y_test, y_pred))
print('Accuracy on test set: '+str(accuracy_score(y_test,y_pred)))
print(classification_report(y_test,y_pred))#text report showing the main classification metrics

[[257 243]
 [240 260]]
Accuracy on test set: 0.517
              precision    recall  f1-score   support

          -1       0.52      0.51      0.52       500
           1       0.52      0.52      0.52       500

    accuracy                           0.52      1000
   macro avg       0.52      0.52      0.52      1000
weighted avg       0.52      0.52      0.52      1000

C:\Users\Student\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [53]:
# sklearn functions implementation
def logRegrPredict(x_train,y_train,xtest ):
    # Build Logistic Regression Model
    logreg = LogisticRegression(solver='saga', max_iter=5000)
    # Train the model using the training sets
    logreg.fit(x_train, y_train)
    y_pred= logreg.predict(xtest)
    #print('Accuracy on test set: {:.2f}'.format(logreg.score(x_test, y_test)))
    return y_pred

y_pred = logRegrPredict(x_train,y_train,x_test)
#score = logisticRegr.score(x_test, y_test)
#print(score)
# By definition a confusion matrix C is such that C_{i,j} 
# is equal to  group the number of observations
#  known to be in i and predicted to be in group j.
print(confusion_matrix(y_test, y_pred))
print('Accuracy on test set: '+str(accuracy_score(y_test,y_pred)))
print(classification_report(y_test,y_pred))#text report showing the main classification metrics

[[270 230]
 [243 257]]
Accuracy on test set: 0.527
              precision    recall  f1-score   support

          -1       0.53      0.54      0.53       500
           1       0.53      0.51      0.52       500

    accuracy                           0.53      1000
   macro avg       0.53      0.53      0.53      1000
weighted avg       0.53      0.53      0.53      1000

In [54]:
#Importing the Decision tree classifier from the sklearn library.
tree_params={
    'criterion':'entropy'
}
clf = tree.DecisionTreeClassifier( **tree_params )

In [60]:
#Training the decision tree classifier on training set. 
# Please complete the code below.
clf.fit(x_train,y_train)


#Predicting labels on the test set.
# Please complete the code below.
y_pred =  clf.predict(x_test)

#print(f'Test feature {x_test[0]}\n True class {y_test[0]}\n predict class {y_pred[0]}')

In [58]:
#Use accuracy metric from sklearn.metrics library
print('Accuracy Score on train data: ', accuracy_score(y_true=y_train, y_pred=clf.predict(x_train)))
print('Accuracy Score on test data: ', accuracy_score(y_true=y_test, y_pred=y_pred))

Accuracy Score on train data:  1.0
Accuracy Score on test data:  0.5